.ed-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 8ren;
    justify-content: space-between;
}

.ed-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.ed-followCard-info {
    display: flex;
    flex-direction: column;
}

.ed-followCard-infoUserName {
    opacity: .6;
}

.ed-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.ed-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}