.ed-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 8ren;
    justify-content: space-between;
}

.ed-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.ed-followCard-info {
    display: flex;
    flex-direction: column;
}

.ed-followCard-infoUserName {
    opacity: .6;
}

.ed-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-Button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s base background-color;
}

.tw-followCard-Button:hover {
   opacity: .8;
}

.is-following{
    border: 1px solid #bbb;
    background-color: transparent;
    color: #fff;
    width: 140px;
}

.is-following:hover{
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
}

.is-following:hover .tw-followcard-following {
    display: none;
}

.is-following:hover .tw-followcard-unFollow{
    display: block;
}

.tw-followcard-unFollow{
    display: none;
}